<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Shareable Task Creator</title>
    </h:head>
    <h:body>
        <h:form id="logonForm">
            <p:growl id="msg" showDetail="true" life="3000" />
            <p:panel header="Create Shareable Task" style="width: 360px;">
                <h:panelGrid id="logonPanel" columns="1">
                    
                    <h:outputText value="Title: " />
                    <p:inputText id="username" binding="#{title}" ></p:inputText>

                    <h3>Description:</h3>
                    <p:inputTextarea id="description" rows="6" cols="33" binding="#{desc}" />
                    
                    <p:spacer></p:spacer>
                    <h:outputText value="Priority:" />
                    <p:rating id="rating" binding="#{rating}"/>
                    
                    <h3>User/s to share with (email):</h3>
                    <p:inputTextarea id="users" rows="6" cols="33" binding="#{users}" />
                    

                    <p:commandButton value="Create" action="#{ShareableTaskCreatorView.registTask(title.value, desc.value, rating.value, users.value)}" onclick="PF('dlg2').show();" ></p:commandButton>            
                </h:panelGrid>
            </p:panel>
         </h:form>
    </h:body>
</html>

