<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Login</title>
                <link rel="stylesheet" href="resources/css/stylesheet.css"/>
            </f:facet>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="true" collapsible="true">
                    <h4 align="middle">TaskManager - 2016</h4>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/taskmanager.png"/>
                        </a>
                    </div>


                    <h:form id="sticky">
                        <p:menubar>
                            <p:menuitem value="Início" icon="ui-icon-home" />
                            <f:facet name="options">
                                <p:inputText placeholder="Search"/>
                                <p:commandButton type="button" icon="ui-icon-search" />
                                <p:button value="Login"  icon="ui-icon-key"/>
                            </f:facet>
                        </p:menubar>
                    </h:form>
                    
                    <h:form id="loginForm">
                        <p:growl id="msg" showDetail="true" life="3000" />
                        <p:panel header="Login" style="width: 360px;">

                            <h:panelGrid id="loginPanel" columns="2">

                                <h:outputText value="Username" />

                                <p:inputText id="username" value="#{LoginView.user}" ></p:inputText>

                                <p:spacer></p:spacer>

                                <p:message for="username" ></p:message>

                                <h:outputText value="Password" />

                                <p:password id="password" value="#{LoginView.password}"  feedback="false"></p:password>

                                <p:spacer></p:spacer>

                                <p:message for="password"></p:message>

                                <p:spacer></p:spacer>

                                <p:commandButton action="#{LoginView.loginProject()}" value="Login" update="loginForm" ajax="true"></p:commandButton>
                                <p:spacer></p:spacer>
                                <p:spacer></p:spacer>
                                <p:spacer></p:spacer>
                                <h:outputText value="Não tem conta?" />
                                <p:spacer></p:spacer>
                                <p:button value="Register" outcome="register" />
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>

