<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menu View</title>
    </h:head>
    <h:body>
        <h:form>  
            <p:growl id="messages" showDetail="false"/>
            <a href="index.xhtml">
               <img id="logo" src="resources/imgs/taskmanager.png"/>
            </a>
            <p:menu style="width: 360px;">
                    <p:submenu label="Task Creation" ></p:submenu>
                        <p:menuitem value="Create Task" update="messages" icon="ui-icon-disk" outcome="CreateTask" />
                        <p:menuitem value="Create Shareable Task" update="messages" icon="ui-icon-disk" outcome="CreateShareableTask" />
                    <p:submenu label="Task View" ></p:submenu>
                        <p:menuitem value="Consult Tasks" outcome="CheckTasks" icon="ui-icon-close"/>
                        <p:menuitem value="Consult Prioratized Task" outcome="PrioratizeTask" icon="ui-icon-close"/>
                    <p:submenu label="Task Search" ></p:submenu>
                        <p:menuitem value="By Description" outcome="DescriptionSearch" icon="ui-icon-star"/>
                        <p:menuitem value="By Priority" outcome="PrioritySearch" icon="ui-icon-star"/>
                        <p:menuitem value="By Title" outcome="TitleSearch" icon="ui-icon-star"/>       
            </p:menu>   
        </h:form>
    </h:body>
</html>

