<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Priority Search</title>
    </h:head>
    <h:body>
        <h:form id="logonForm">
            <p:growl id="messages" showDetail="true"  life="3000" />
                <p:panel header="Search Task by Priority" style="width: 360px;">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Priority to Search For:" />
                        <p:rating id="rating" binding="#{rating}"/>
                    </h:panelGrid>
                    <p:commandButton value="Search" actionListener="#{PrioritySearchView.searchTask(rating.value)}" action="PrioritySearchResults" onclick="PF('dlg2').show();" ></p:commandButton>
                </p:panel>
        </h:form>
    </h:body>
</html>