<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Task Manager</title>
            <link rel="stylesheet" href="resources/css/stylesheet.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="south" size="auto" closable="false" collapsible="false" >
                    <h4 align="middle">TaskManager - 2016</h4>
                </p:layoutUnit>
                <p:layoutUnit position="center">
                    <div id="header">
                        <a href="index.xhtml">
                            <img id="logo" src="resources/imgs/taskmanager.png"/>
                        </a>
                    </div>

                    <h:form id="logonForm">


                        <p:growl id="msg" showDetail="true" life="3000" />
                        <p:panel header="Registar" style="width: 360px;">

                            <h:panelGrid id="logonPanel" columns="2">

                                <h:outputText value="Username: " />

                                <p:inputText id="username" binding="#{name}" ></p:inputText>

                                <p:spacer></p:spacer>

                                <p:message for="username" ></p:message>

                                <h:outputText value="Password: " />

                                <p:password id="password" binding="#{pass}"></p:password>

                                <p:spacer></p:spacer>

                                <p:message for="password"></p:message>

                                <h:outputText value="Repita a Password: " />

                                <p:password id="repeatPassword" binding="#{reppass}" ></p:password>

                                <p:spacer></p:spacer>

                                <p:message for="repeatPassword"></p:message>

                                <h:outputText value="E-Mail: " />

                                <p:inputText id="email" binding="#{email}" ></p:inputText>

                                <p:spacer></p:spacer>

                                <p:message for="email"></p:message>
                                

                                <p:spacer></p:spacer>
                                <p:commandButton value="Finalizar" update="logonForm" type="button" onclick="PF('dlg2').show();" ></p:commandButton>
                                <p:dialog header="Tem a certeza?" widgetVar="dlg2" height="150">
                                    <h:outputText value="Criar Conta?" />
                                    <p:commandButton value="Sim" onclick="PF('dlg2').close();" action="#{UserView.registUser(name.value, pass.value, email.value, reppass.value)}"></p:commandButton>
                                    <p:commandButton value="Não" onclick="PF('dlg2').close();"></p:commandButton>
                                </p:dialog>
                            </h:panelGrid>

                        </p:panel>

                    </h:form>
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>