<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Title Search Result</title>
    </h:head>
    <h:body>
        <h:form> 
            <p:dataScroller value="#{TitleSearchView.tasks}" var="tasks" chunkSize="10" >
                <f:facet name="header">
                    Scroll Down to Load More Tasks
                </f:facet>

                <h:panelGrid columns="1" style="width:100%" columnClasses="detail">
                    <p:outputPanel>
                        <h:panelGrid columns="2" cellpadding="5">
                            <h:outputText value="Title" />
                            <h:outputText value="#{tasks.title}" style="font-weight: bold"/>
                            
                            <h:outputText value="Description" />
                            <h:outputText value="#{tasks.description}" style="font-weight: bold"/>

                            <h:outputText value="Priority" />
                            <h:outputText value="#{tasks.priority}" style="font-weight: bold"/>
                            <p:commandLink action="MainMenu" target="_blank" >
                                    Close Task
                                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                                    <f:setPropertyActionListener value="#{tasks}" target="#{dataScrollerView.selectedTask}" /> 
                            </p:commandLink >   
                        </h:panelGrid>
                    </p:outputPanel>
                </h:panelGrid>
            </p:dataScroller>
            <p:button value="Home" outcome="MainMenu" style="width:100%"/>
        </h:form>
    </h:body>
</html>

