<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Title Search</title>
    </h:head>
       <h:body>
         <h:form id="logonForm">
            <p:growl id="msg" showDetail="true" life="3000" />
            <p:panel header="Search Task by Title" style="width: 360px;">
                <h:panelGrid id="logonPanel" columns="1">
                    <h:outputText value="Title to Search for: " />
                    <p:inputText id="title" binding="#{title}" ></p:inputText>
                    <p:commandButton value="Search" actionListener="#{TitleSearchView.searchTask(title.value)}" action="TitleSearchResults" onclick="PF('dlg2').show();" ></p:commandButton>      
                </h:panelGrid>
            </p:panel>
         </h:form>
    </h:body> 
</html>



